Source: statgrabber
Section: net
Priority: optional
Build-Depends: debhelper (>= 4.0.8)
Build-Depends-Indep: perl (>= 5.8.0-7), debhelper (>= 4.0.8)
Maintainer: Olivier Poitrey <rs@mmania.com>
Standards-Version: 3.6.1

Package: statgrabber
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, 
 libproc-daemon-perl, libappconfig-perl, liblog-log4perl-perl,
 liblog-dispatch-perl, librrds-perl
Description: Collect rrdcollect output from several hosts to update local RRD files.
